

.scroll-container > button {width: 100%; height: 500px;display:inline-block;background-color: red;float: left;}

button > iframe {width: 100%; height: 100%;}

button:focus {border: solid 10px black;}